<a href="https://colab.research.google.com/github/Dennis-HyeongHo-Park/AIFFEL_CodingTest/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 08.  반복문

In [4]:
# 132  for문의 실행결과 예측

과일 = ['사과', '귤', '수박']

for i in 과일 :
    print('####')

####
####
####

In [5]:
# 133  동일한 코드 작성
for 변수 in ['A', 'B', 'C'] :
    print( 변수)

A
B
C

In [13]:
a = ['A', 'B', 'C']

for i in a :
    print(i)

A
B
C

In [14]:
# 134  for문을 풀어서 동일한 동작을하는 코드를 작성하라
for 변수 in ['A', 'B', 'C'] :
    print('출력 :', 변수)

출력 : A
출력 : B
출력 : C

In [15]:
print('출력 :  A')
print('출력 :  B')
print('출력 :  C')

출력 :  A
출력 :  B
출력 :  C

In [16]:
for i in ['A', 'B', 'C'] :
    b = i.lower()
    print('변환 : ', b)

변환 :  a
변환 :  b
변환 :  c

In [33]:
a = 'A'
aa = a.lower()
print('변환 : ', aa)

b = 'B'
bb = b.lower()
print('변환 : ', bb)

c = 'C'
cc = c.lower()
print('변환 : ', cc)

변환 :  a
변환 :  b
변환 :  c

In [36]:
# 136
a = (10 ,20, 30)
for i in a :
    print(i)

10
20
30

In [40]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [41]:
# 137

for i in (10, 20, 30) :
    print(i)

10
20
30

In [46]:
# 138
for i in (10, '-------', 20, '-------', 30, '-------') :
    print(i)

10
-------
20
-------
30
-------

In [47]:
for i in [10, 20, 30] :
    print(i)
    print('-----')

10
-----
20
-----
30
-----

In [48]:
# 139
for i in ['++++', 10, 20, 30]:
    print(i)

++++
10
20
30

In [57]:
# 140
a =  0

while a  < 4 :
    a += 1
    print('-----')

-----
-----
-----
-----

In [58]:
for 변수 in ["가", "나", "다", "라"]:
  print("-------")

-------
-------
-------
-------

In [59]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [62]:
# 141
a = [100, 200, 300]

for i in a :
    print(i + 10)

110
210
310

In [65]:
# 142

a = ['김밥', '라면', '튀김']

for i in a :
    print('오늘의 메뉴 : ', i)

오늘의 메뉴 :  김밥
오늘의 메뉴 :  라면
오늘의 메뉴 :  튀김

In [66]:
# 143
a = ['SK하이닉사', '삼성전자', 'LG전자']

for i in a :
    print(len(i))

6
4
4

In [68]:
# 144
a = ['dog', 'cat', 'parrot']

for i in a :
    print(i, len(i))

dog 3
cat 3
parrot 6

In [77]:
# 145

for i in a :
    print(i[:1])

d
c
p

In [79]:
# 146
a = [1, 2, 3]

for i in a :
    print('3 X', i)

3 X 1
3 X 2
3 X 3

In [83]:
# 147
for i in a :
    print(f'{3} X {i} = {3*i}')

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [1]:
# 148
a = ['가', '나', '다', '라']

for i in a[1:] :
    print(i)

나
다
라

In [2]:
# 149
for i in a[::2] :
    print(i)

가
다

In [5]:
# 150
for i in a[::-1] :
    print(i)

라
다
나
가